@import '../../variables.scss';

.country-list {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    // padding: 0 100px;

    .country-item {
        width: 250px;
        // flex: 0 1 inherit;
        margin: 20px 0px;
    }
}
