@import '../../variables.scss';

.search-bar {
    $color: var(--input-color);
    background: var(--element-bg);
    @include box-shadow;
    height: $menu-item-height;
    display: inline-flex;
    align-items: center;
    position: relative;
    min-width: 400px;
    overflow: hidden;

    @include themeTransition;

    @media (max-width: 500px) {
        min-width: 100px;
    }

    i.fas {
        color: var(--input-color);
        position: absolute;
        height: inherit;
        width: 12%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: color 0.3s ease;
    }

    input[type='search'] {
        font-size: $body-default;
        width: 100%;
        padding-left: 60px;
        border: none;
        height: 100%;
        transition: outline 0.3s ease;
        outline: rgba(0, 0, 0, 0) solid 2px;
        background-color: inherit;
        color: inherit;

        &::placeholder {
            color: inherit;
            transition: color 0.3s ease;
        }

        &:active,
        &:focus {
            outline: rgba(100, 100, 0, 0.2) solid 2px;
        }
    }
}
