@import '../../variables.scss';

.search-bar {
    $color: rgba(0, 0, 0, 0.5);
    @include box-shadow;
    height: $menu-item-height;
    display: inline-flex;
    align-items: center;
    position: relative;
    min-width: 400px;
    color: $very-light-gray;
    overflow: hidden;
    outline: none;

    i.fas {
        color: $color;
        position: absolute;
        height: inherit;
        width: 12%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='search'] {
        font-size: $body-default;
        width: 100%;
        padding-left: 60px;
        border: none;
        height: 100%;

        &::placeholder {
            color: $color;
        }
    }
}
