@import '../../variables.scss';

.country-item {
    @include box-shadow;
    background-color: $white;

    min-width: 250px;
    // width: 300px;
    height: 390px;
    display: inline-block;
    overflow: hidden;

    .img-container {
        height: 45%;
        position: relative;
        background-position: center;
        background-size: cover;
        // background-size: 100% 100%;
        background-repeat: no-repeat;
        // background-attachment: fixed;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .details {
        padding: 20px 30px;

        header {
            font-weight: 800;
            font-size: $header-title;
            margin-top: 10px;
        }

        .country-detail {
            margin: 8px auto;

            &:first-of-type {
                margin-top: 12px;
            }

            .detail-title {
                font-weight: 600;
            }

            .detail-description {
                margin-left: 3px;
            }
        }
    }
}
