@import './variables.scss';

.App {
    background-color: var(--page-bg);
    color: var(--text-color);
    font-size: $body-default;
    font-family: $font-family;
    font-weight: 300;
    min-height: 100vh;

    @include themeTransition;
}
