@import '../../variables.scss';

.homepage {
    @include contain-page;
    margin: auto;
    margin-top: 50px;
    // padding: 0 $page-padding-sides;

    .menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}
