@import '../../variables.scss';

.homepage {
    @include contain-page;
    @include for-mobile;
    background: inherit;
    margin: auto;
    margin-top: 50px;

    .menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        background: inherit;

        @media (max-width: $medium-break) {
            flex-direction: column;
            height: 150px;
        }
    }
}
